# House Price Prediction

### In this project, I am going to predict the house prices based on different factors.

This project was part of a bootcamp, so I am gathering the data from Dphi's offical github to train and test the model respectively.

### Importing the necessary libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Gathering the data and checking some of it's features.

In [ ]:
house_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/kc_house_data/kc_house_data.csv')

In [ ]:
house_data.head()

      price  bedrooms  bathrooms  ...     long  sqft_living15  sqft_lot15
0  221900.0         3       1.00  ... -122.257           1340        5650
1  538000.0         3       2.25  ... -122.319           1690        7639
2  180000.0         2       1.00  ... -122.233           2720        8062
3  604000.0         4       3.00  ... -122.393           1360        5000
4  510000.0         3       2.00  ... -122.045           1800        7503

[5 rows x 19 columns]

In [ ]:
house_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16613 entries, 0 to 16612
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          16613 non-null  float64
 1   bedrooms       16613 non-null  int64
 2   bathrooms      16613 non-null  float64
 3   sqft_living    16613 non-null  int64
 4   sqft_lot       16613 non-null  int64
 5   floors         16613 non-null  float64
 6   waterfront     16613 non-null  int64
 7   view           16613 non-null  int64
 8   condition      16613 non-null  int64
 9   grade          16613 non-null  int64
 10  sqft_above     16613 non-null  int64
 11  sqft_basement  16613 non-null  int64
 12  yr_built       16613 non-null  int64
 13  yr_renovated   16613 non-null  int64
 14  zipcode        16613 non-null  int64
 15  lat            16613 non-null  float64
 16  long           16613 non-null  float64
 17  sqft_living15  16613 non-null  int64
 18  sqft_lot15     16613 non-null  int64
dtypes: float64(5), int64(14)
memory usage: 2.4 MB

### Getting a statistical idea about the data

In [ ]:
house_data.describe()

              price      bedrooms  ...  sqft_living15     sqft_lot15
count  1.661300e+04  16613.000000  ...   16613.000000   16613.000000
mean   5.335161e+05      3.365918  ...    1974.793776   13287.334256
std    3.665165e+05      0.937185  ...     673.022438   27456.421787
min    7.500000e+04      0.000000  ...     399.000000     660.000000
25%    3.150000e+05      3.000000  ...    1490.000000    5421.000000
50%    4.470000e+05      3.000000  ...    1830.000000    7823.000000
75%    6.387000e+05      4.000000  ...    2330.000000   10327.000000
max    7.700000e+06     33.000000  ...    6110.000000  871200.000000

[8 rows x 19 columns]

# Separating input and output variables:

In [ ]:
#X is the input variable and y is the target variable
X=house_data.drop("price", axis=1)
y=house_data['price']

# Splitting the Data into train and test data

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.5, random_state=4)

# Predictions

here I am applying a simple Linear Regression model.

In [1]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(X_train, y_train)

NameError: name 'X_train' is not defined

In [ ]:
pred=model.predict(X_test)

# Model Evaluation

In [ ]:
from sklearn.metrics import mean_squared_error 
np.sqrt(mean_squared_error(y_test, pred))

195488.43175450858

# Loading new test data

In [ ]:
test_new = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/kc_house_data/kc_house_new_test_data.csv')

In [ ]:
test_new.head()

   bedrooms  bathrooms  sqft_living  ...     long  sqft_living15  sqft_lot15
0         5       3.25         5210  ... -122.397           2590       10250
1         5       2.00         2800  ... -122.163           1760       18282
2         4       2.25         2060  ... -122.046           2160       45657
3         5       2.00         2360  ... -122.046           1860       19998
4         4       2.50         2370  ... -122.155           2370        7378

[5 rows x 18 columns]

In [ ]:
# prediction
price=model.predict(test_new)